body{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
nav{

    background-color:lightblue;
    
    padding-top: 50px;
    padding-bottom: 50px;
}
ul{
    display: flex;
    justify-content: center;
}
 ul li{
    display:inline-block ;
    background-color: dodgerblue;
    padding: 12px 16px;
    margin:0 5px;
    cursor: pointer;
    transition: all 0.7s ease;
}
ul li  a {
     font-size: 20px;
}
 ul li:hover {
    background-color: royalblue;
} 
ul li:hover   a{
    color:yellow;

}
footer{
    margin-bottom: 500px;
}